.titlebar {
  box-sizing: border-box;
  width: 100%;
  padding: 0 70px;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  zoom: 1;
  line-height: 30px;
  height: 30px;
  display: flex;

  .win32 #vizcon &,
  .linux #vizcon & {
    padding: 0;
    height: 30px;
    line-height: 30px;
    justify-content: left;
    overflow: visible;
  }

  .darwin #vizcon.fullscreen & {
    display: none;
  }

  // TODO: make dynamic
  background-color: rgb(60, 60, 60);
  color: rgb(204, 204, 204);

  .titlebar-drag-region {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 22px;
    -webkit-app-region: drag;

    .win32 &,
    .linux & {
      height: 30px;
    }
  }

  .appicon {
    -webkit-app-region: drag;
    background-image: none; // TODO: add an image here
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 16px;
    width: 35px;
    height: 100%;
    position: relative;
    z-index: 3000;
    flex-shrink: 0;

    .darwin & {
      display: none;
    }
  }

  .window-title {
    flex: 0 1 auto;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;

    // TODO: this might be a win and linux only thing
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    max-width: calc(100vw - 296px);
  }

  .menubar {
    display: flex;
    flex-shrink: 1;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
    z-index: 2500;
    height: 30px;

    .darwin & {
      display: none;
    }

    .menu-item {
      align-items: center;
      box-sizing: border-box;
      padding: 0 8px;
      cursor: default;
      -webkit-app-region: no-drag;
      zoom: 1;
      outline: 0;
      font-size: 13px;

      &:hover,
      &.open {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .menu-actions {
        display: none;
        position: fixed;
        outline: 0;
        border: none;
        top: 30px; // must be equavilent to the height of the menu bar
        z-index: 2000;
        overflow: hidden;
        box-shadow: rgb(0 0 0 / 36%) 0px 2px 4px;
        max-height: 975px;
        font-size: 13px;

        // colors, need to be changed later
        color: rgb(204, 204, 204);
        background-color: rgb(37, 37, 38);

        &.visible {
          display: block;
        }

        .menu-container {
          height: 100%;
          text-align: left;
          white-space: nowrap;
          overflow: visible;
          padding: 0.5em 0px;

          ul {
            display: block;
            margin: 0 auto;
            padding: 0;
            width: 100%;
            height: 100%;
            list-style-type: none;

            .menu-action {
              display: flex;
              transform: none;
              padding: 0;
              position: static;
              overflow: visible;
              border: thin solid transparent;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              height: 1.8em;

              &.disabled {
                cursor: default;
                opacity: 0.4;
              }

              .action-label {
                font-size: inherit;
                padding: 0 2em;
                display: inline-block;
                box-sizing: border-box;
                flex: 1 1 auto;
                background: none;
                text-decoration: none;
                line-height: 1;

                &.seperator {
                  height: 0px;
                  width: 100%;
                  display: block;
                  margin-left: 0.8em;
                  margin-right: 0.8em;
                  padding: 0.2em 0 0;
                  border-bottom: 1px solid #bbb;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .window-controls {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    z-index: 3000;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 138px;
    margin-left: auto;

    .window-icon {
      display: inline-block;
      line-height: 30px;
      height: 100%;
      width: 46px;
      font-size: 16px;
      user-select: none;

      &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
      }

      &.codicon-chrome-close:hover {
        background-color: rgba(232, 17, 35, 0.9);
      }
    }
  }
}
