#visualizer {
  box-sizing: border-box;
  font-size: 13px;
  height: calc(100vh);
  overflow: hidden;
  background-color: rgb(30, 30, 30);

  &.hidden {
    display: none;
  }

  .win32 &,
  .linux &,
  .darwin #vizcon.normal & {
    height: calc(100vh - 30px);
  }

}